<h1>Cities#show</h1>
<p>Find me in app/views/cities/show.html.erb</p>
<p><%= @city.city_name %></p>
  <img src=<%= @city.image_url %>>
<ul>
<% for post in @posts %>
  <li><%= post.user.first_name %> <%= post.user.last_name %>: <%= link_to post.post_title, '/posts/show/' + post.id.to_s %></li>
<% end %>
</ul>
<%= link_to 'Create Post', posts_new_path, data: {city: @city.id}%>
