
<h1><%= @city.city_name %></h1>
  <img src=<%= @city.image_url %>>
<ul>
<% for post in @posts %>
  <li><%= link_to post.post_title, '/posts/show/' + post.id.to_s %> - by <%= link_to post.user.first_name + ' ' + post.user.last_name %>
  	<p><%= post.post_content[0...500] + '....' %><%= link_to 'more', post %></p>
  </li>
<% end %>
</ul>
<%= link_to 'Create Post', posts_new_path, data: {city: @city.id}%>
