<!DOCTYPE html>
<html>
  <head>
    <title>VagabondApp</title>
    <script src="http://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Material+Icons' %>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
          

  </head>
<style>

  #city-img {
    top:0;
    position:fixed;
    width: 100%;
    height: 100vh;
    -webkit-filter:brightness(50%);
    -moz-filter:brightness(50%);
    filter:url(#brightness);
    filter:brightness(50%);
    margin-bottom: -100vh;
    z-index: -1;
  }

  .cover-up {
    background-color: rgba(255,255,255,0.85);
    padding: 20px;
    margin-top: 20px;
  }

  .container {
    z-index: 0;
    position: relative;
  }

  #new-post-form {
    z-index: 1;
    text-align: center;
    margin: -400px auto;
    padding-top: 6%;
    justify-content: center;
    width: 50%;
    height: 220px;
  }

  #new-post {
    background-color: rgba(255,255,255,0.5);
  }

  #login-logout-bar {
    position: fixed;
  }

  .post-div {
    color: black;
  }

  .input-field label {
     color: red;
     text-align: center; 
   }

   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid red;
     box-shadow: 0 1px 0 0 red;
   }

  .btn {
    margin: 0 auto;
    background-color: black;
    color: grey;
  }

  .btn:hover {
    background-color: grey;
    color: black;
  }

</style>
  <body class="
              <% if current_user %>
                <%= current_user.color_profile %>
              <% end %>
              ">
              
    <% flash.each do |name, msg| %>
      <p><small> <%= msg %> </small></p>
    <% end %>
    <div id="login-logout-bar">
      <ul>
        <% if current_user %>
          <li><%= link_to "Profile", user_path(current_user) %></li>
          <li><%= link_to "Log Out", logout_path %></li>
        <% else %>
          <li><%= link_to "Create Account", new_user_path %></li>
          <li><%= link_to "Log In", login_path %></li>
        <% end %>
      </ul>
    </div>
    <%= image_tag "https://static.pexels.com/photos/28184/pexels-photo-28184.jpg", id: "city-img" %>
    <div class="container">
      <div class="cover-up">
      <%= yield %>
      </div>
    </div>
  </body>
</html>
