<h1>Posts#edit</h1>
<p>Find me in app/views/posts/edit.html.erb</p>
Edit Post

<%= form_for @post do |f| %>
  <div>
    <%= f.text_field :post_title, placeholder: "Title" %>
  </div>
  <div>
    <%= f.text_field :post_content, placeholder: "content" %>
  </div>
  <div>
    <%= f.hidden_field :city_id, value: 2 %>
  </div>
  <div>
    <%= f.hidden_field :user_id, value: session[:user_id] %>
  </div>

  <%= f.submit "Edit Post" %>

<% end %>
