<h1>Posts#new</h1>

<p><%= @city_id %></p>
Add New Post
<% if current_user %>
<%= form_for @post do |f| %>
  <div>
    <%= f.text_field :post_title, placeholder: "Title" %>
  </div>
  <div>
    <%= f.text_field :post_content, placeholder: "content" %>
  </div>
  <div>
    <%= f.hidden_field :city_id, value: @city_id %>
  </div>
  <div>
    <%= f.hidden_field :user_id, value: session[:user_id] %>
  </div>

  <%= f.submit "Create Post" %>

<% end %>
<% end %>