

<h1><%= @post.post_title %> - <%= link_to @post.city.city_name, '/cities/' + @post.city.url_display %></h1><br>
<h3>poster: <%= link_to @user.first_name, @user %>, 
city: <%= link_to @post.city.city_name, '/cities/' + @post.city.url_display %></h3>
<br><%= @post.post_content %>
<% if current_user == @post.user || (current_user && current_user.admin)%>
<%= button_to 'Delete Post', post_path(@post), method: :delete%>
<% end %>