

<h1><%= @post.post_title %></h1><br>
<h3>poster: <%= @user.first_name %>, city: <%= @post.city.city_name %></h3>
<br><%= @post.post_content %>

<%= button_to 'Delete Post', post_path(@post), method: :delete%>
