<div>
  Welcome <%= @user.first_name %><%= @user.last_name%>
  <ul>
    <li>City: <%=@user.current_city%></li>
    <li>Date: <%=@user.created_at%></li>
  <ul>

  <%= link_to "Edit Profile", edit_user_path %>


  <% for post in @posts %>
	<%= link_to post.post_title, '/posts/show/' + post.id.to_s %>
  <% end %>

</div>
