Edit

<%= form_for @user do |f| %>
  <div>
    <%= f.text_field :first_name, placeholder: "First name" %>
  </div>
  <div>
    <%= f.text_field :last_name, placeholder: "Last name" %>
  </div>
  <div>
    <%= f.email_field :email, placeholder: "email" %>
  </div>
  <div>
    <%= f.password_field :password, placeholder: "password" %>
  </div>
  <div>
    <%= f.text_field :current_city, placeholder: "Current City" %>
  </div>
  <div>
    <%= f.text_field :home_city, placeholder: "Home City" %>
  </div>
  <div>
    <%= f.text_field :favorite_city, placeholder: "Favorite City" %>
  </div>
  <% if current_user.admin %>
    <div>
     Admin Priv: <%= f.check_box :admin %>
    </div>
  <% end %>

  <%= f.submit "Edit" %>

<% end %>
