<img id="background-img" src="http://img1.mxstatic.com/wallpapers/943fbf40f69f482bcbec031eec3e0050_large.jpeg">
<div id="user-show-container" class="container">
  <div id="profile-card" class="row card white-grey darken-1 z-depth-5 animated slideInUp">
    <div id="profile-info" class="col s6 container">
      <h3 id="profile-name"><%= @user.first_name %> <%= @user.last_name%></h3>
        <img id="profile-photo" class="circle responsive-img" src="http://placehold.it/250x250">
        <ul>
          <li><h4><%=@user.current_city%></h4></li>
          <% if current_user == @user || current_user && current_user.admin %>
              <li><%= link_to "Edit Profile", edit_user_path, class: "redify" %></li>
          <% end %>
        </ul>
    </div>
    <div id="posts-container" class="col s6">
      <ul>
        <% for post in @posts %>
        <li>
           <h5><%= link_to post.post_title, '/posts/show/' + post.id.to_s, class: "redify"%></h5>
           <p class="post-content"><small><%= post.post_content[0...150] + '...' %></small></p>
        </li>
        <hr>
        <% end %>
      </ul>
    </div>
  </div>
</div>
