<div class="no-container" id="cities-index-container">
  <div class="row">
  	<div class="col m8 offset-m2">
  	  <div class="row">
  		<div class="col m6 offset-s1">
	  		<% if current_user && current_user.admin %><button class="btn waves-effect waves-light create-city-btn city-index-btn white-text" type="submit" name="action">
	  		<%= link_to "Add City", cities_new_path, class: "redify-bgk white-text" %></button>
			<% end %>

			<% if current_user && (current_user && !current_user.admin) %><button class="btn waves-effect waves-light create-city-btn city-index-btn" type="submit" name="action">
			  <%= link_to "Suggest New City", cities_new_path, class: "redify-bgk white-text" %></button>
			<% end %>
	    </div>
	  </div>

	  	<div class="card hoverable animated fadeInUpBig">
          <div class="card-image">
  		    <ul>
			  <% for city in @cities %>
	  		  <li><h1 id="nomad-cities"><span><%= link_to city.city_name, '/cities/' + city.url_display, class: "redify" %></span>
	  		  <% if current_user && current_user.admin && city.status == nil %>
				 - Unapproved
	  		  <% elsif current_user && current_user.admin %>
				 - Approved
	  		  <% end %></h1>
	  		  <img class="city-index-img" src="<%= city.image_url %>">
			  </li>
		    </ul>


		    <div class="row">
			  <div class="col m12 post-snippet">	
		  		<% for post in city.posts[0..3] %>
				  <div id="city-individual-post">
			  	    <h4 id="city-index-title"><%= link_to post.post_title, post, class: "redify" %><br>
					  <span id="posted-by">Posted by: <%= link_to post.user.first_name + ' ' + post.user.last_name, post.user, class: "redify" %></span></h4>
			  		  <p><%= post.post_content.split('')[0..200].join('') + '...' %>
								<%= link_to "more", post, class: "redify" %>
			  		  </p>
		    	  </div>
		    	  <hr>
		  		<% end %>
		  	  </div>
		    </div>
 		<% end %>
 		</div>
 		</div>
  	</div>
  </div>
</div>
