<% setCityId(@city.id) %>
<h1><%= @city.city_name %></h1>
  <!-- <img src=<%= @city.image_url %>> -->
<ul>
<% if @posts %>
<% for post in @posts %>
  <li><%= link_to post.post_title, '/posts/show/' + post.id.to_s %> - by <%= link_to post.user.first_name + ' ' + post.user.last_name %>
  	<p><%= post.post_content[0...140] + '....' %><%= link_to 'more', post %></p>
  </li>
<% end %>
<% end %>
<%= link_to 'more posts', '/cities/' + @city.url_display + '/page/' + (@page.to_i + 1).to_s %>
</ul>
<%= link_to 'Create Post', posts_new_path%>
