<%= image_tag @city.image_url, id: "city-img" %>

<div class="container">
    <div id="city-posts-container">
	  <% setCityId(@city.id) %>
		<h1 class="city-name">
      <%= @city.city_name %>
  		<% if current_user && current_user.admin && @city.status == nil %>
    		<%= link_to 'Approve City', city_approve_path %>
  	  <% end %>
	    </h1>
      <%= button_to 'Create Post', posts_new_path, method: :get, id: "create-post-btn", class: "btn waves-effect waves-light animated bounceInLeft"%>
  <div class="row">
		<ul>
		<% if @posts.count > 0 %>
		  <% for post in @posts %>
        <div class="city-post card col s3 animated fadeInUpBig">
          <%= link_to post.post_title, '/posts/show/' + post.id.to_s, class: "redify" %> - by <%= link_to post.user.first_name + ' ' + post.user.last_name, '/users/' + post.user.id.to_s, class: "blackify" %>
    		  <p><%= post.post_content[0...140] + '....' %><%= link_to 'more', post, class: "redify" %></p>
        </div>
		  <% end %>
		<% end %>
  </div>
	  	<div class="centered">
        <%= link_to 'more posts', '/cities/' + @city.url_display + '/page/' + (@page.to_i + 1).to_s, class: "redify"%>
		</div>
  </div>
</div>
