<!DOCTYPE html>
<html>
  <head>
    <title>Hidden Forrest</title>
    <script src="http://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Material+Icons' %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => "reload" %>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
          

  </head>

<style>
  body * {
    color: black;
  }

  ul {
    display: inline;
  }
  a {
    display: inline;
  }

  #city-img {
    top:0;
    position:fixed;
    width: 100%;
    height: 100vh;
    -webkit-filter:brightness(50%);
    -moz-filter:brightness(50%);
    filter:url(#brightness);
    filter:brightness(50%);
    margin-bottom: -100vh;
    z-index: -1;
  }

  .cover-up {
    background-color: rgba(255,255,255,0.85);
    padding: 20px;
    margin: 20px 0;
    border-radius: 3px;
  }


  #login-logout-bar {
    position: fixed;
  }

  .login-div {
    position: relative;
    margin-top:200px;
    margin-bottom: 200px;
  }

  


  

  
  nav {
    background-color: rgba(0,0,0,0);
  }
</style>
  <body class="
              <% if current_user %>
                <%= current_user.color_profile %>
              <% end %>
              ">
              
    

  <body>
  <header>

    <nav>
      <div class="nav-wrapper grey">
        <a href="#" class="brand-logo left"> Hidden Forest</a>
           <ul class="right hide-on-med-and-down">
            <% if current_user %>
              <li><%= link_to "Profile", user_path(current_user)%>     
              </li>
              <li><%= link_to "Log Out", logout_path %></li>
            <% else %>
              <li><%= link_to "Create Account", new_user_path %></li>
              <li><%= link_to "Log In", login_path %></li>
            <% end %>
          </ul> 

      </div>
    <nav>
    <%= image_tag "https://static.pexels.com/photos/28184/pexels-photo-28184.jpg", id: "city-img" %>
   
      
    <nav>
  </header>
      <%= yield %>
  </body>
</html>
